<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MAP_LOGIN_FAILED</key>
	<array>
		<string>loginFailedStub</string>
	</array>
	<key>MAP_LOGIN_NETWORK_FAILED</key>
	<array>
		<string>loginNetworkFailedStub</string>
	</array>
	<key>MAP_FORGOT_PASSWORD_NO_EXISTING_EMAIL</key>
	<array>
		<string>forgotPasswordNonExistingEmailStub</string>
	</array>
	<key>MAP_REGISTRATION_EXISTING_EMAIL</key>
	<array>
		<string>availabilityOfEmailFailureStub</string>
	</array>
	<key>MAP_REGISTRATION_EXISTING_PHONE</key>
	<array>
		<string>availabilityOfPhoneFailureStub</string>
	</array>
	<key>MAP_REGISTRATION_EXISTING_EMAIL_PHONE</key>
	<array>
		<string>availabilityOfEmailAndPhoneFailureStub</string>
	</array>
	<key>MAP_LOGIN_FACEBOOK_SUCCESS_NO_PHONE</key>
	<array>
		<string>loginFacebookSuccessNoPhoneStub</string>
	</array>
	<key>MAP_LOGIN_DISABLED</key>
	<array>
		<string>loginDisabledStub</string>
	</array>
	<key>MAP_LOGIN_INACTIVE</key>
	<array>
		<string>requetsRideForInactiveUserStub</string>
	</array>
	<key>MAP_LOGIN_NEW</key>
	<array>
		<string>currentUserNewStub</string>
		<string>currentRiderNewStub</string>
	</array>
	<key>MAP_REQUESTING_NO_CC</key>
	<array>
		<string>cardsEmptyStub</string>
	</array>
	<key>MAP_CARD_MANAGMENT_DYNAMIC</key>
	<array>
		<string>stripeTokenStub</string>
		<string>addCardStub</string>
		<string>cardsDynamicStub</string>
		<string>setPrimaryCardStub</string>
		<string>deleteCardStub</string>
	</array>
	<key>MAP_CREDIT_CARD_NOT_APPROVED</key>
	<array>
		<string>cardNotApprovedStub</string>
	</array>
	<key>MAP_ROUND_UP_DISABLED</key>
	<array>
		<string>disableCharityToCurrentRider</string>
	</array>
	<key>MAP_REQUESTING_NOT_AVAILABLE_DRIVER</key>
	<array>
		<string>rideNotAvailableCarsStub</string>
	</array>
	<key>MAP_UPGRADE_CAR_REQUEST</key>
	<array>
		<string>acceptCarUpgradeRequestStub</string>
		<string>declineCarUpgradeRequestStub</string>
	</array>
	<key>MAP_UPGRADE_CAR_REQUEST_NO_NETWORK</key>
	<array>
		<string>acceptCarUpgradeRequestNoNetworkStub</string>
		<string>declineCarUpgradeRequestNoNetworkStub</string>
	</array>
	<key>MAP_SYNCHRONIZE_RIDE_IN_COURSE</key>
	<array>
		<string>currentRideInCourseStub</string>
	</array>
</dict>
</plist>
