<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Default</key>
	<dict>
		<key>registrationStickerEnabled</key>
		<false/>
		<key>shouldClearCache</key>
		<true/>
		<key>useStubs</key>
		<true/>
		<key>useRealAuth</key>
		<false/>
		<key>logoutDelay</key>
		<integer>0</integer>
		<key>networkUnreachableDelay</key>
		<integer>-1</integer>
		<key>city</key>
		<integer>0</integer>
		<key>rideConfiguration</key>
		<dict>
			<key>initialTime</key>
			<integer>-1</integer>
			<key>resources</key>
			<array>
				<string>DBRideData</string>
			</array>
			<key>statusBeforeCancelled</key>
			<integer>3</integer>
			<key>whoCancels</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>DefaultHouston</key>
	<dict>
		<key>parents</key>
		<array>
			<string>Default</string>
		</array>
		<key>city</key>
		<integer>1</integer>
	</dict>
	<key>RealAuth</key>
	<dict>
		<key>parents</key>
		<array>
			<string>Default</string>
		</array>
		<key>useRealAuth</key>
		<true/>
	</dict>
	<key>CancelledRide</key>
	<dict>
		<key>parents</key>
		<array>
			<string>Default</string>
		</array>
		<key>rideConfiguration</key>
		<dict>
			<key>resources</key>
			<array>
				<string>DBRideCancelledData</string>
			</array>
		</dict>
	</dict>
	<key>CancelledRideResubmitted</key>
	<dict>
		<key>parents</key>
		<array>
			<string>CancelledRide</string>
		</array>
		<key>rideConfiguration</key>
		<dict>
			<key>resources</key>
			<array>
				<string>DBRideCancelledData</string>
				<string>DBRideData</string>
			</array>
		</dict>
	</dict>
	<key>UpgradeToSUV</key>
	<dict>
		<key>parents</key>
		<array>
			<string>Default</string>
		</array>
		<key>rideConfiguration</key>
		<dict>
			<key>injections</key>
			<array>
				<dict>
					<key>injectionAfterStatus</key>
					<integer>2</integer>
					<key>injectionDelay</key>
					<integer>4</integer>
					<key>injectionJSON</key>
					<string>UpgradeRequestRequested</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UpgradeToSUVPF1</key>
	<dict>
		<key>parent</key>
		<string>Default</string>
		<key>parents</key>
		<array>
			<string>Default</string>
		</array>
		<key>rideConfiguration</key>
		<dict>
			<key>injections</key>
			<array>
				<dict>
					<key>injectionAfterStatus</key>
					<integer>2</integer>
					<key>injectionDelay</key>
					<integer>4</integer>
					<key>injectionJSON</key>
					<string>UpgradeRequestRequestedPF1</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UpgradeToSUVExpired</key>
	<dict>
		<key>parents</key>
		<array>
			<string>UpgradeToSUV</string>
		</array>
		<key>rideConfiguration</key>
		<dict>
			<key>injections</key>
			<array>
				<dict>
					<key>injectionAfterStatus</key>
					<integer>3</integer>
					<key>injectionDelay</key>
					<integer>8</integer>
					<key>injectionJSON</key>
					<string>UpgradeRequestExpired</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UpgradeToSUVInOtherScreen</key>
	<dict>
		<key>parents</key>
		<array>
			<string>Default</string>
		</array>
		<key>rideConfiguration</key>
		<dict>
			<key>injections</key>
			<array>
				<dict>
					<key>injectionAfterStatus</key>
					<integer>3</integer>
					<key>injectionDelay</key>
					<integer>4</integer>
					<key>injectionJSON</key>
					<string>UpgradeRequestRequested</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UpgradeToSUVCancelled</key>
	<dict>
		<key>parents</key>
		<array>
			<string>UpgradeToSUV</string>
		</array>
		<key>rideConfiguration</key>
		<dict>
			<key>injections</key>
			<array>
				<dict>
					<key>injectionAfterStatus</key>
					<integer>3</integer>
					<key>injectionDelay</key>
					<integer>8</integer>
					<key>injectionJSON</key>
					<string>UpgradeRequestCancelled</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UpgradeToSUVAcceptedThenCancelled</key>
	<dict>
		<key>parents</key>
		<array>
			<string>UpgradeToSUV</string>
			<string></string>
		</array>
		<key>rideConfiguration</key>
		<dict>
			<key>injections</key>
			<array>
				<dict>
					<key>injectionAfterStatus</key>
					<integer>3</integer>
					<key>injectionDelay</key>
					<integer>2</integer>
					<key>injectionJSON</key>
					<string>UpgradeRequestAccepted</string>
				</dict>
				<dict>
					<key>injectionAfterStatus</key>
					<integer>3</integer>
					<key>injectionDelay</key>
					<integer>2</integer>
					<key>injectionJSON</key>
					<string>CarCategorySUV</string>
				</dict>
				<dict>
					<key>injectionAfterStatus</key>
					<integer>3</integer>
					<key>injectionDelay</key>
					<integer>15</integer>
					<key>injectionJSON</key>
					<string>UpgradeRequestCancelled</string>
				</dict>
				<dict>
					<key>injectionAfterStatus</key>
					<integer>3</integer>
					<key>injectionDelay</key>
					<integer>15</integer>
					<key>injectionJSON</key>
					<string>CarCategoryStandard</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>RideAtDriverOnWay</key>
	<dict>
		<key>parents</key>
		<array>
			<string>Default</string>
		</array>
		<key>rideConfiguration</key>
		<dict>
			<key>initialTime</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>RideAtDriverOnWayAndUpgradeToSUV</key>
	<dict>
		<key>parents</key>
		<array>
			<string>UpgradeToSUV</string>
			<string>RideAtDriverOnWay</string>
		</array>
	</dict>
	<key>RideAtRatingScreen</key>
	<dict>
		<key>parents</key>
		<array>
			<string>Default</string>
		</array>
		<key>rideConfiguration</key>
		<dict>
			<key>initialTime</key>
			<integer>61</integer>
		</dict>
	</dict>
	<key>NoNetworkOnDriverOnWayDelay5Timeout10</key>
	<dict>
		<key>parents</key>
		<array>
			<string>Default</string>
		</array>
		<key>rideConfiguration</key>
		<dict>
			<key>injections</key>
			<array>
				<dict>
					<key>injectionType</key>
					<integer>1</integer>
					<key>injectionAfterStatus</key>
					<integer>2</integer>
					<key>injectionDelay</key>
					<integer>0</integer>
					<key>injectionTimeout</key>
					<string>10</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UpgradeToSUVWithNoNetwork</key>
	<dict>
		<key>parents</key>
		<array>
			<string>UpgradeToSUV</string>
			<string>NoNetworkOnDriverOnWayDelay5Timeout10</string>
		</array>
	</dict>
	<key>UpdateComment1</key>
	<dict>
		<key>parents</key>
		<array>
			<string>Default</string>
		</array>
		<key>rideConfiguration</key>
		<dict>
			<key>injections</key>
			<array>
				<dict>
					<key>injectionAfterStatus</key>
					<integer>3</integer>
					<key>injectionDelay</key>
					<integer>0</integer>
					<key>injectionJSON</key>
					<string>Comment1</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
